
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
    margin: 0;
    padding: 0;
}

.progress-bar {
    width: calc(100vw - 40px);
    height: 40px;
    background-color: #000000;
    position: relative;
    left: 20px;
    border-radius: 20px;
}

.bar {
   border-radius: 20px;
    content: '';
    height: 100%;
    background-color: #2e93ff;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    animation: load 5.7s forwards;
}

.percent {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s;
}

@keyframes load {
   0% { width: 0; }
   30% { color: black; }
   31% { color: white; }
   100% { width: 100%; }
}

.card {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 50px;
  background: #2e93ff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: white;
}


